<!DOCTYPE html>
<html lang="ja">
    <style>
        .sub {
            text-align: center;
        }
    </style>
    <head>

    </head>
    <body>
        <form action="/admin/auth" method="post">
            <div><%= @error %></div>
            <table>
                <tr>
                    <td>LOGIN:</td><td><input name="user" type="text"></td>
                </tr>
                <tr>
                    <td>PASSWORD:</td><td><input name="passwd" type="password"></td>
                </tr>
                <tr>
                    <td colspan="2" class="sub"><input type="submit" value="LOGIN"></td>
                </tr>
            </table>
        </form>
    </body>
</html>