<!DOCTYPE html>
<html lang="ja">
    <style>
        body {
            width: 90%;
            margin: auto;
        }
        table {
            margin: 10px auto;
        }
        .sub {
            text-align: center;
        }
    </style>
    <head>

    </head>
    <body>
        <div id="wrap">
            <form action="/admin/auth" method="post">
                <table>
                    <tr>
                        <td colspan="2" class="sub"><%= @error %></td>
                    </tr>
                    <tr>
                        <td>LOGIN:</td><td><input name="user" type="text"></td>
                    </tr>
                    <tr>
                        <td>PASSWORD:</td><td><input name="passwd" type="password"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="sub"><input type="submit" value="LOGIN"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>