<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>簡易言語学習サイト</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="common.css" rel="stylesheet">
    <script defer src="check.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">簡易言語学習サイト</a>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= @userid %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/logout">ログアウト</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="app" class="container pt-2">
            <select v-model="user" v-on:change="getSubmmitedList" class="form-select study-item">
              <option v-for="(item, index) in users" v-bind:value="item.userid">{{item.userid}}</option>
            </select>
      <table class="table">
        <thead>
          <tr>
            <th>#</th><th>課題</th><th>概要</th><th>提出言語</th><th>問題作成者</th><th>提出日</th><th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in list">
            <td>{{ item.id }}</td><td>{{ item.task }}</td>
            <td><a v-bind:href="item.href">{{ item.outline }}</a></td>
            <td>{{ item.name }}</td><td>{{ item.cr_user }}</td><td>{{ item.sb_date}}</td>
            <td colspan="2">
                <button type="button" v-on:click="clickOK" v-bind:value="item.pid" class="btn btn-primary btn-sm study-btn">OK</button> &nbsp;
                <button type="button" v-on:click="clickNG" v-bind:value="item.pid" class="btn btn-danger btn-sm study-btn">NG</button> &nbsp;
            </td>
          </tr>
        </tbody>
      </table>
      <a href="/menu">問題一覧へ戻る</a> &nbsp;
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>